{% extends "base.html" %}
{% import 'macros.html' as macro %}
        
{% block content %}
<div class="container">
		<!-- Business News Section  -->
        <h2> Business News Sources</h2>
        <hr>

        {{ macro.displaySourceList(sources)}}

        <!-- Technology News Section  -->
         
        <h2> Technology News Sources</h2>
        <hr>

        {{ macro.displaySourceList(technology_sources)}}

        <!-- Entertainment News Section  -->
         
        <h2> Entertainment News Sources</h2>
        <hr>

        {{ macro.displaySourceList(entertainment_sources)}}

        <!-- Sports News Section  -->
         
        <h2> Sports News Sources</h2>
        <hr>

        {{ macro.displaySourceList(sports_sources)}}

</div>

{% endblock %}